@import "../../vendor/filament/filament/resources/css/theme.css";

@layer components {
    .fi-dropdown-panel {
        z-index: 20 !important;
    }
[x-cloak] {
    display: none !important;
}

.fi-sidebar-header-logo-mini {
    margin-top: 60px;
    display: flex;
    margin-bottom: 20px;
}

}
